!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title ChatSpace
    %script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/notifications'
    = yield
